/* Common */
html {
  --color--black: #0E111B;
  --color--black-90: rgba(--color--black, .9);
  --color--black-50: rgba(--color--black, .5);
  --color--white: #FFF;
  --color--white-60: rgba(255,255,255,.6);
  --color--white-50: rgba(255,255,255,.5);
  --color--white-30: rgba(255,255,255,.3);
  --color--white-10: rgba(255,255,255,.1);
  --color--white-5: rgba(255,255,255,.05);
  --color--primary: #FDC000;
  --color--hover: #F86A05;
  --color--area: #1C212E;
  --color--header: rgba(14,17,27,0.9)
}
body {
  background-color: var(--color--black);
  color: var(--color--white);
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}


/* Button */
.btn {
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--color--area);
  font-weight: 700;
  color: var(--color--white);
  outline: none;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--color--hover);
}
.btn-primary {
  background-color: var(--color--primary);
  color: var(--color--black);
}
.btn-primary:hover {
  background-color: var(--color--hover);
  color: var(--color--white);
}


/* Loading Animation */
.the-loader {
  width: 30px;
  height: 30px;
  margin: 30px auto;
  border: 4px solid var(--color--primary);
  border-top-color: transparent;
  border-radius: 50%;
  animation: loader 1s infinite linear;
}
.the-loader.hide {
  display: none;
}
@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Container */
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 0 60px;
  position: relative;
}
@media (max-width: 1200px) {
  .container {
    padding: 40px 40px 60px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 40px 20px 60px;
  }
}


/* components/TheHeader */
header {
  padding: 20px 40px;
  background-color: var(--color--header);
  position: sticky;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: flex-end;
}
header .logo {
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: var(--color--white-50);
  text-decoration: none;
}
header .logo span {
  color: var(--color--primary);
}
header nav {
  margin-left: 40px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-left: 10px;
}
header nav ul li:first-child {
  margin-left: 0;
}
header nav ul li a {
  font-size: 14px;
  font-weight: 700;
  color: var(--color--white-50);
  text-decoration: none;
}
header .user {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--color--area);
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  margin: auto;
  transition: 0.3s;
}
header .user:hover {
  transform: scale(1.2);
}
header .user img {
  width: 100%;
}
header a.active {
  color: var(--color--primary);
}
@media (max-width: 600px) {
  header {
    padding: 14px 20px;
  }
  header nav {
    display: none;
  }
  header .user {
    right: 20px;
  }
}


/* components/Headline */
.headline h1 {
  line-height: 1;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
}
.headline h1 span {
  color: var(--color--primary);
}
.headline p {
  margin: 40px 0;
  color: var(--color--white-30);
}
@media (max-width: 600px) {
  .headline h1 {
    font-size: 60px;
  }
}


/* components/Search */
.search {
  display: flex;
  gap: 10px;
  height: 50px;
}
.search input {
  flex-grow: 1;
  padding: 0 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 14px;
  color: var(--color--white);
  background-color: var(--color--area);
}
.search input::placeholder {
  color: var(--color--white-30);
}
.search .btn {
  flex-grow: 1;
  max-width: 150px;
}


/* components/MovieList */
.movie-list {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--color--area);
  border-radius: 4px;
}
.movie-list.no-result {
  padding: 70px 0;
}
.movie-list .message {
  color: var(--color--primary);
  font-size: 20px;
  text-align: center;
}
.movie-list .movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


/* components/MovieListMore */
.view-more {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 20px auto;
}
.view-more.hide {
  display: none;
}


/* components/MovieItem */
.movies .movie {
  --width: 200px;
  width: var(--width);
  height: calc(var(--width) * 3 / 2);
  border-radius: 4px;
  background-color: var(--color--black);
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.movies .movie:hover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 6px solid var(--color--primary);
}
.movies .movie .info {
  background-color: rgba(14, 17, 27, 0.3);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 14px;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
}
.movies .movie .info .year {
  color: var(--color--primary);
}
.movies .movie .info .title {
  color: var(--color--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* routes/Movie */
.the-movie {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  gap: 70px;
}
.the-movie .poster {
  flex-shrink: 0;
  --width: 500px;
  width: var(--width);
  height: calc(var(--width) * 3 / 2);
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: var(--color--area);
}
.the-movie .title {
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  color: var(--color--white);
  line-height: 1;
  margin-bottom: 30px;
}
.the-movie .labels {
  color: var(--color--primary);
  margin-bottom: 20px;
}
.the-movie h3 {
  color: var(--color--white);
  margin: 24px 0 6px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}
@media all and (max-width: 1200px) {
  .the-movie {
    gap: 30px;
  }
  .the-movie .poster {
    --width: 300px;
  }
}
@media all and (max-width: 720px) {
  .the-movie {
    display: block;
  }
  .the-movie .title {
    margin-top: 50px;
    font-size: 50px;
  }
}

/* routes/About */
.about .photo {
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  margin: 0 auto 20px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: var(--color--area);
  border: 12px solid var(--color--black);
  overflow: hidden;
}
.about .photo img {
  width: 100%;
}
.about .name {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px;
}
.about p {
  line-height: 1.5;
  text-align: center;
}
.about a {
  color: var(--color--primary);
  text-decoration: none;
}
.about a:hover {
  text-decoration: underline;
}


/* routes/NotFound */
.not-found h1 {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}