/* Common */
html {
  --color-black: #0E111B;
  --color-white: #FFF;
  --color-white-50: rgba(255,255,255,.5);
  --color-white-30: rgba(255,255,255,.3);
  --color-white-20: rgba(255,255,255,.2);
  --color-white-10: rgba(255,255,255,.1);
  --color-white-5: rgba(255,255,255,.05);
  --color-primary: #FDC000;
  --color-hover: #F86A05;
  --color-area: #1C212E;
}
body {
  background-color: var(--color-black);
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: var(--color-white);
}


/* Container */
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 0;
}
@media (max-width: 1200px) {
  .container {
    padding: 40px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 40px 20px;
  }
}


/* Button */
.btn {
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-area);
  cursor: pointer;
  transition: .3s;
  user-select: none;
}
.btn:hover {
  background-color: var(--color-hover);
}
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-black);
}
.btn-primary:hover {
  background-color: var(--color-hover);
  color: var(--color-white);
}
.btn-circle {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Default Loading Animation */
.the-loader {
  width: 30px;
  height: 30px;
  border: 4px solid var(--color-primary);
  border-top-color: transparent !important;
  border-radius: 50%;
  animation: loader 1s infinite linear;
}
.the-loader.hide {
  display: none;
}
@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Skeleton Loading Animation */
.skeleton {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--color-area);
}
.skeleton::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(270deg,
    rgba(255,255,255,0),
    rgba(255,255,255,.1),
    rgba(255,255,255,0)
  );
  transform: translateX(-100%);
  animation: skeleton-loader 2s infinite;
}
@keyframes skeleton-loader {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}


/* components/TheHeader */
header {
  padding: 20px 40px;
  background-color: rgba(14,17,27,.9);
  position: sticky;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: flex-end;
  gap: 40px;
}
header .logo {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: var(--color-white-50);
  text-decoration: none;
}
header .logo span {
  color: var(--color-primary);
}
header nav ul {
  display: flex;
  gap: 14px;
}
header nav ul li a {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white-50);
  text-decoration: none;
}
header nav ul li a.active {
  color: var(--color-primary);
}
header .user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-area);
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  margin: auto;
  transition: .3s;
}
header .user:hover {
  transform: scale(1.2);
}
header .user img {
  width: 100%;
}
@media (max-width: 600px) {
  header {
    padding: 14px 20px;
  }
  header nav {
    display: none;
  }
  header .user {
    right: 20px;
  }
}


/* components/TheFooter */
footer {
  padding: 40px 40px 60px;
  text-align: center;
}
footer a {
  color: var(--color-white-20);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}


/* components/Headline */
.headline {
  margin-bottom: 40px;
}
.headline h1 {
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  line-height: 1;
  margin-bottom: 40px;
}
.headline h1 span {
  color: var(--color-primary);
}
.headline p {
  color: var(--color-white-30);
}
@media (max-width: 600px) {
  .headline h1 {
    font-size: 60px;
  }
}


/* components/Search */
.search {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.search input {
  flex-grow: 1;
  height: 50px;
  padding: 0 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-area);
}
.search input::placeholder {
  color: var(--color-white-30);
}
.search .btn {
  flex-grow: 1;
  max-width: 150px;
}


/* components/MovieList */
.movie-list {
  padding: 20px;
  border-radius: 4px;
  background-color: var(--color-area);
}
.movie-list .message {
  color: var(--color-primary);
  font-size: 20px;
  text-align: center;
}
.movie-list .movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.movie-list .the-loader {
  margin: 30px auto;
}


/* components/MovieItem */
.movies .movie {
  --width: 200px;
  width: var(--width);
  height: calc(var(--width) * 3 / 2);
  border-radius: 4px;
  background-color: var(--color-black);
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.movies .movie:hover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 6px solid var(--color-primary);
}
.movies .movie .info {
  background-color: rgba(14,17,27,.3);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
.movies .movie .info .year {
  color: var(--color-primary);
}
.movies .movie .info .title {
  color: var(--color-white);
}


/* components/MovieListMore */
.view-more {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
}
.view-more.hide {
  display: none;
}


/* routes/Movie */
.the-movie {
  color: var(--color-white-50);
  display: flex;
  gap: 70px;
}
.the-movie .poster {
  flex-shrink: 0;
  --width: 500px;
  width: var(--width);
  height: calc(var(--width) * 3 / 2);
  border-radius: 10px;
  background-size: cover;
  background-color: var(--color-area);
}
.the-movie .specs {
  flex-grow: 1;
}
.the-movie .title {
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  line-height: 1;
  color: var(--color-white);
  margin-bottom: 30px;
}
.the-movie .title.skeleton {
  height: 70px;
}
.the-movie .labels {
  color: var(--color-primary);
  margin-bottom: 20px;
}
.the-movie .labels.skeleton {
  height: 30px;
}
.the-movie .plot.skeleton {
  width: 80%;
  height: 400px;
}
.the-movie h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: var(--color-white);
  margin: 24px 0 6px;
}
@media (max-width: 1200px) {
  .the-movie {
    gap: 30px;
  }
  .the-movie .poster {
    --width: 300px;
  }
}
@media (max-width: 720px) {
  .the-movie {
    display: block;
  }
  .the-movie .title {
    font-size: 50px;
    margin-top: 50px;
  }
}

/* routes/About */
.about .photo {
  width: 230px;
  height: 230px;
  margin: 0 auto 20px;
  border-radius: 10px;
  background-size: cover;
}
.about .name {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}
.about p {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 4px;
}
.about a {
  color: var(--color-primary);
  text-decoration: none;
}
.about a:hover {
  text-decoration: underline;
}


/* routes/NotFound */
.not-found h1 {
  font-size: 70px;
  font-weight: 700;
  color: var(--color-white-10);
  text-align: center;
}


/* Chatbot */
.chatbot {
  --position-bottom: 20px;
  --position-right: 40px;
}
@media (max-width: 600px) {
  .chatbot {
    --position-right: 20px;
  }
}
.chatbot .chats {
  width: calc(100% - var(--position-right) * 2);
  max-width: 450px;
  border: 1px solid var(--color-black);
  border-radius: 20px 20px 4px 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  background-color: var(--color-area);
  position: fixed;
  bottom: calc(var(--position-bottom) + 50px + 14px);
  right: var(--position-right);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: .3s;
}
.chatbot.chatbot--on .chats {
  opacity: 1;
  visibility: visible;
}
.chatbot .chats ul {
  max-height: calc(100vh - 340px);
  padding: 60px 20px 20px;
  overflow: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.chatbot .chats li {
  max-width: 70%;
  padding: 12px 18px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}
.chatbot .chats li.assistant {
  align-self: flex-start;
  border-top-left-radius: 4px;
  background-color: var(--color-white-5);
  transform: translateX(10px);
}
.chatbot .chats li.assistant .photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-white-5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: calc(100% + 4px);
  left: -10px;
  color: rgba(255,255,255,.3);
}
.chatbot .chats li.assistant .the-loader {
  width: 13px;
  height: 13px;
  border-width: 3px;
}
.chatbot .chats li.assistant .movie-title {
  color: var(--color-primary); 
  cursor: pointer;
}
.chatbot .chats li.assistant .movie-title:hover {
  text-decoration: underline;
}
.chatbot .chats li.user {
  align-self: flex-end;
  border-bottom-right-radius: 4px;
  background-color: var(--color-primary);
  color: var(--color-black);
}
.chatbot .input {
  padding: 14px 20px 20px;
  border-top: 1px solid var(--color-white-5);
  display: flex;
  gap: 10px;
}
.chatbot .input input {
  flex-grow: 1;
  padding: 0 20px;
  border: none;
  outline: none;
  border-radius: 4px 4px 4px 10px;
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-white-5);
}

.chatbot .chat-starter {
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  position: fixed;
  bottom: var(--position-bottom);
  right: var(--position-right);
  z-index: 1;
}
.chatbot .chat-starter .icon--open { display: block; }
.chatbot .chat-starter .icon--close { display: none; }
.chatbot.chatbot--on .chat-starter .icon--open { display: none; }
.chatbot.chatbot--on .chat-starter .icon--close { display: block; }